body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1579c5;
    background-size:100%;
    text-align: center;
    color: #333;
}
header {
    background: url('./images/AdobeStock_364394708_Preview.jpeg') center/100vw;
    padding: auto;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
}

.logo {
    width: 300px;
    height: auto;
    padding: 20px;
}

h1 {
    color: white;
    font-size: 2.8em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: white;
    font-size: 2.0em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 1.2em;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    background: #2b2d2f;
    color:rgb(237, 235, 235);
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.hero {
    width: 100vw;
    height: 25vh;;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(243, 239, 239);
    font-size: 32px;
    font-weight: bold;
}

footer {
    margin-top: 30px;
    padding: 15px;
    background: #222;
    color: white;
    font-size: 14px;
}

.service-list {
    list-style: none; /* Removes default bullets */
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Space between list items */
}

.service-list li {
    display: flex;
    align-items: center;
    gap: 15px; /* Space between icon and text */
    font-size: 1.2em;
}

.service-list a {
    text-decoration: none;
    color: #dad7d7; /* Adjust text color */
}

.service-list i {
    font-size: 1.5em;
    color:  #1579c5; /* Adjust icon color */
}
.back-home {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}
.back-home:hover {
    background-color: #cc5500;
}

a {
    text-decoration: none;
    color: inherit;
}

.service-image {
    width: 75%;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }
    header {
        background: url('./images/AdobeStock_364394708_Preview.jpeg') center/auto 100vw;
        padding: auto;
        text-align: center;
    }

    .logo {
        width: 50vw;
        height: 20vh;
        padding: 5px;
    }

    h1 {
        font-size: 1.5em;
    }

    .service-list li {
        display:inline-block;
        flex-direction: column;
        text-align: center;
    }
}


.translate-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
.translate-button:hover {
    background-color: #cc5500;
}